.availability{
    background-color: darkgrey;
    color: yellow; 
    width:100%; 
}

<<<<<<< HEAD
=======



>>>>>>> ab3bb4518a314057bd3ccf01cc0dee5233489f3f
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card{
    flex: 0 0 30%;
    box-shadow: 5px 5px darkgrey;
    margin: 10px; 
}

.card-title{
    border: solid 1px lightblue;
    text-align: center;
}

.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.description {
    text-align: justify;
    text-justify: inter-word;
}
.bold{
    font-weight: bold;
}
 
img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
<<<<<<< HEAD
=======
<<<<<<< HEAD
    border: solid 2px darkgrey;
>>>>>>> ab3bb4518a314057bd3ccf01cc0dee5233489f3f
}

body    { 
    background: #5D4037; }
<<<<<<< HEAD
footer { 
    background: #795548; }
=======

footer { 
    background: #795548; }

>>>>>>> ab3bb4518a314057bd3ccf01cc0dee5233489f3f
.card   { 
    background: #D7CCC8; }
h1    { 
    color: #FFFFFF; 
    text-align: center;
<<<<<<< HEAD
    }
h2 { 
    background: #009688; }
h3  { 
     color: #212121; }
h4 { 
    color: #757575; }
.description { 
    border-color: #BDBDBD; }
 
=======
    font-family: 'Shadows Into Light', cursive;
    }
h2 { 
    font-family: 'Shadows Into Light', cursive;
    background: #009688; }
    
h3  { 
    font-family: 'Roboto', sans-serif;
    color: #212121; }
h4 { 
    font-family: 'Roboto', sans-serif;
    color: #757575; }
.description { 
    border-color: #BDBDBD; }
 

>>>>>>> ab3bb4518a314057bd3ccf01cc0dee5233489f3f
